/**
 * Text
 */

@import "../styles/variables";

:host {
  @include text-body('lg');

  overflow: auto;
  padding: $size-24 calc((100% - #{$lg-break - $size-32}) / 2);
}

h2,
h3,
h4 {
  margin: 2em 0 0;
}

pre {
  line-height: 2;
  white-space: pre-wrap;
}

:host /deep/ rt {
  @include text-body('xs');
}

:host /deep/ .word {
  display: inline-block;
  position: relative;

  .word-char {
    cursor: pointer;
    display: inline-block;
    position: relative;

    &::after {
      border-bottom: $border-width dotted;
      content: '';
      position: absolute;
        left: 0;
        right: 0;
        bottom: $size-4;
    }

    &:hover + .word-explanation {
      display: block;
    }
  }

  .word-explanation {
    @include text-body('xs');

    background: $color-bg-high;
    box-shadow: $shadow-1;
    border-radius: $border-radius;
    display: none;
    padding: $size-2 $size-4;
    position: absolute;
      left: 0;
      bottom: $size-4 + get-one-line-height('lg');
    white-space: nowrap;
  }
}

.font-toggle {
  position: fixed;
    top: 0;
    right: 0;
}


// Xiaozhuan
// ---------------------------

:host.xiaozhuan {
  font-family: 'FZXiaoZhuanTi-S13', sans-serif;
  font-size: 300%;

  h2,
  h3,
  h4 {
    font-weight: 400;
    transform-origin: 0 0;
    transform: scale(1.5);
  }

  /deep/ rt {
    font-family: $default-font-family;
  }
}


// Media query
// ---------------------------

@media (max-width: $lg-break) {

  :host {
    display: block;
    padding: $size-24;
  }
}
